.sec-1 {
  width: 50%;
  height: 100%;
  background-color: whitesmoke;
  box-shadow: 4px 10px 10px 5px rgb(234, 235, 235);
}
.div-1 {
  display: flex;
  width: 98%;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
.div-1a {
  width: 29.375rem;
  height: 3.75rem;
  border-radius: 1.25rem;
  background: white;
  margin-right: 9px;
}
.srch {
  width: 27.375rem;
  height: 3.75rem;
  outline-style: auto;
  outline-color: white;
  border-top-left-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;
  text-align: center;
}
.div-2 {
  width: 42.5rem;
  height: 50.875rem;
  flex-shrink: 0;
  padding: 1.5rem;
  margin-left: 1rem;
  display: block;
  border: 2rem red;
  border-radius: 2rem;
  background-color: #fff;
  color: #fff;
  text-align: center;
  font-family: Jost;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.875rem; /* 150% */
  letter-spacing: 0.125rem;
}
.div-2a {
  display: flex;
  flex-shrink: 0;
  margin-bottom: 0.5rem;
}
.div-2b {
  display: block;
  flex-shrink: 0;
}
.div-2c {
  width: 15.5rem;
  height: 5rem;
  position: relative;
  left: 12.25rem;
  top: 19.4375rem;
}
.div-3 {
  margin-top: 3rem;
}
.div-31 {
  display: flex;
  width: 40rem;
  height: 3.75rem;
  margin-top: 1.5rem;

  border-radius: 0.625rem;
  background: #f8f8f7;
  align-items: center;
}
.time {
  width: 3.5rem;
  margin-left: 1rem;
  background-color: #fff;
  color: black;
  border-radius: 0.2rem;
}
.img-con {
  color: #8c8c8c;
  margin-left: 1rem;
}
